{% extends 'base.html.twig' %}

{% block title %}My account SoundOn{% endblock %}
{% block content %}
<h2> My account - SoundOn </h2>
Welcome dear user here you can manage your account
<hr> - Change Password </br>
{% endblock %}
