{% extends 'base.html.twig' %}

{% block title %}Notre catalogues disponible{% endblock %}

{% block content %}
<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/template/img/bg-img/breadcumb.jpg);">
    <div class="bradcumbContent">
        <h2>Liste des catalogues</h2>
    </div>
</section>
<br>
 {% for catalogue in catalogues %}
<a href="" class="btn oneMusic-btn mx-auto" style="width:100px; display:block;" >{{catalogue.nom}}<i class="fa fa-angle-double-right"></i></a>
<br> 
<a href="{{ path('app_front_office_categorie')}}" class="btn oneMusic-btn m-2"> retour <i class="fa fa-angle-double-right"></i></a>
{% endfor %}

{% endblock %}