{% extends 'base.html.twig' %}

{% block title %}Notre catalogues disponible{% endblock %}

{% block content %}
    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/template/img/bg-img/breadcumb.jpg);">
        <div class="bradcumbContent">
            <h2>catalogue</h2>
        </div>
    </section>
    <br> 
    <img src="{{ path('app_front_office_catalogue_content', {'id' : catalogue.id})}}" width="300" height="200">
     <span style="font-weight:bold; font-size:30px ;"> Nom:{{catalogue.nom}} </span>
     <p style=" font-size:20px ;"> Plongez dans l'univers fascinant de l'artiste , un créateur audacieux qui défie les limites de l'expression artistique. Avec une maîtrise exceptionnelle de la couleur, de la forme et de la texture, a créé une collection d'œuvres d'art uniques qui transcendent les genres et les styles.

À travers ses peintures ,  nous transporte dans des mondes imaginaires où la nature, les émotions et les idées s'entremêlent dans une danse enivrante. Son style est à la fois figuratif et abstrait, mélangeant habilement les techniques traditionnelles et les innovations contemporaines pour créer une esthétique puissante et originale.</p>
    <br>
    
    <a href="{{ path('app_front_office_categorie')}}" class="btn oneMusic-btn m-2"> retour <i class="fa fa-angle-double-right"></i></a>

    

{% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" href="{{asset('template/custom_css/style.css')}}">
{% endblock %}