{% include 'back_office/admin_dashboard/dashboard.html.twig' %}

{% block title %}New Evenement{% endblock %}

{% block body %}
{% for message in app.flashes('notification') %}
        <div class="alert alert-info alert-dismissible fade show">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
    {% endfor %}
    <h4>Nouvel Evenement</h4>

    {{ include('back_office/evenement/_form.html.twig') }}

    <a href="{{ path('app_evenement_index') }}">Retour</a>
{% endblock %}
