{% extends 'base.html.twig' %}

{% block title %}Albums{% endblock %}

{% block content %}
<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/template/img/bg-img/breadcumb3.jpg);">
        <div class="bradcumbContent">
        <h2>Liste des albums</h2>
    </div>
</section>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Album List Area Start ##### -->

<section class="album-catagory section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="browse-by-catagories catagory-menu d-flex flex-wrap align-items-center mb-70">
                    <a href="#" data-filter="*">Voir tout</a>
                    <a href="#" data-filter=".a" class="active">A</a>
                    <a href="#" data-filter=".b">B</a>
                    <a href="#" data-filter=".c">C</a>
                    <a href="#" data-filter=".d">D</a>
                    <a href="#" data-filter=".e">E</a>
                    <a href="#" data-filter=".f">F</a>
                    <a href="#" data-filter=".g">G</a>
                    <a href="#" data-filter=".h">H</a>
                    <a href="#" data-filter=".i">I</a>
                    <a href="#" data-filter=".j">J</a>
                    <a href="#" data-filter=".k">K</a>
                    <a href="#" data-filter=".l">L</a>
                    <a href="#" data-filter=".m">M</a>
                    <a href="#" data-filter=".n">N</a>
                    <a href="#" data-filter=".o">O</a>
                    <a href="#" data-filter=".p">P</a>
                    <a href="#" data-filter=".q">Q</a>
                    <a href="#" data-filter=".r">R</a>
                    <a href="#" data-filter=".s">S</a>
                    <a href="#" data-filter=".t">T</a>
                    <a href="#" data-filter=".u">U</a>
                    <a href="#" data-filter=".v">V</a>
                    <a href="#" data-filter=".w">W</a>
                    <a href="#" data-filter=".x">X</a>
                    <a href="#" data-filter=".y">Y</a>
                    <a href="#" data-filter=".z">Z</a>
                    <a href="#" data-filter=".number">0-9</a>
                </div>
            </div>
        </div>

        <div class="row oneMusic-albums">
            {% for a in albums %}
            <!-- Single Album -->
            <div class="col-12 col-sm-4 col-md-3 col-lg-2 single-album-item t c p">
                <a href="{{ path('app_front_office_album_show', {'id': a.id}) }}">
                    <div class="single-album">
                        <img src="{{asset('template/img/bg-img/a6.jpg')}}" alt="">
                        <div class="album-info">
                            <h5>{{a.nom}}</h5>
                            <p>{{a.iduser.prenom}}</p>
                </a>
            </div>
        </div>
    </div>
            {% endfor %}
    </div>
    </div>
</section>
{% endblock %}