{% extends 'base.html.twig' %}

{% block title %}Edit Musique{% endblock %}

{% block body %}
    <h1>Edit Musique</h1>

    {{ include('back_office/musique/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_back_office_musique_index') }}">back to list</a>

    {{ include('back_office/musique/_delete_form.html.twig') }}
{% endblock %}
