<html>
<head>
<title>My Email Design</title>
</head>
<body>
<p>Dans le cadre du pré lancement de notre événement <span strong style="color:red;">{{evenement.titre}}</span>  <span strong style="color:blue;">SOUND ON</span> vous invitent pour a passer une merveilleuse journée le  {{evenement.dateEvenement ? evenement.dateEvenement|date('Y-m-d') : '' }}. Nous sommes ravis de vous avoir parmi nous pour partager des moments agréables ensemble.</p> 

<p>Bien vouloir vous inscrire via ce <a href="http://127.0.0.1:8001/reservation/{{evenement.id}}/new">lien</a> </p>

<p>Le paiement des frais se fait dès lundi matin et au plus tard le mardi. Places très limitées !</p>

<p>Contacts :

*Siwar Mejri, Trésorier :26892848

* Marwen Mamlouk, R.Events : 23781138

*  , Vice président : 54605056

Follow us on Instagram 
</p>
</body>
<html>