{% extends 'back_office/admin_dashboard/dashboard.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block content %}
<div class="pagetitle">
    <h1>Reservations</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_back_office_admin_dashboard') }}">Dashboard</a></li>
            <li class="breadcrumb-item active">Reservations</li>
        </ol>
    </nav>
</div><!-- End Page Title -->
     <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}