{% include 'back_office/admin_dashboard/dashboard.html.twig' %}

{% block title %}Evenement index{% endblock %}

{% block body %}
    <h4>Evenement index</h4>
     <table class="table" style="margin-left:400px; margin-right:200px;">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}