{% extends 'base.html.twig' %}

{% block title %}New Reservation{% endblock %}

{% block content %}
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(template/img/bg-img/breadcumb3.jpg);">
    <div class="bradcumbContent">
        <h2>Reserver</h2>
    </div>
</section>
    <h1>Create new Reservation</h1>

    {{ include('front_office/reservation/_form.html.twig') }}

    <a href="{{ path('app_reservation_index') }}">back to list</a>
{% endblock %}
